adal==1.2.5
appdirs==1.4.4
applicationinsights==0.11.9
argcomplete==1.12.1
asn1crypto==0.24.0
azure-common==1.1.25
azure-servicefabric==7.1.0.45
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
cryptography==2.6.1
distlib==0.3.1
distro-info==0.21
entrypoints==0.3
enum34==1.1.10
filelock==3.0.12
future==0.18.2
idna==2.10
importlib-metadata==2.0.0
isodate==0.6.0
jmespath==0.10.0
keyring==17.1.1
keyrings.alt==3.1.1
knack==0.6.3
msrest==0.6.19
msrestazure==0.6.4
mssql-scripter==1.0.0a23
oauthlib==3.1.0
portalocker==2.0.0
psutil==5.7.3
pycrypto==2.6.1
pycurl==7.43.0.2
Pygments==2.7.2
PyGObject==3.30.4
PyJWT==1.7.1
python-apt==1.8.4.1
python-dateutil==2.8.1
pyxdg==0.25
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
SecretStorage==2.3.1
sfctl==10.0.0
sfmergeutility==0.1.6
six==1.12.0
tabulate==0.8.7
unattended-upgrades==0.1
urllib3==1.25.11
virtualenv==20.1.0
zipp==3.4.0
